<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
{{#each albums}}
<div>
    <p>
        Album: {{name}}
    </p>

    {{#if images.length}}

    <img src="{{images.[0].url}}" alt="">

    <p>
        <a href="/tracks/{{id}}">View Tracks</a>
    </p>
    {{/if}}
</div>
{{/each}}
</body>
</html>