<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
</head>

<body>
    {{#each tracks}}

    <div>
        <p>
            {{name}}
        </p>
        <audio controls src="{{this.preview_url}}"></audio>

    </div>

    {{/each}}
    
</body>
</html>